.escena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: var(--bgcolor);
  border-radius: 10px;
  overflow: hidden;
}

.escena-header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
}

.escena-header img {
  max-width: 100%;
  max-height: 100%;
}

.escena-body {
  padding: 20px;
  text-align: center;
}

.escena-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.nav-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dot-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.dot.active {
  background-color: #000;
}
